			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Korisni linkovi</h3>
								<ul class="links">
									<li><a href="http://www.ssgz.hr" target="_blank">Sportski savez Grada Zagreba</a></li>
									<li><a href="http://www.hpls-powerlifting.hr" target="_blank">Hrvatski powerlifting savez</a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3 style="visibility: hidden;">_</h3>
								<ul class="links">
									<li><a href="https://www.europowerlifting.org" target="_blank">Europska powerlifting federacija</a></li>
									<li><a href="https://www.powerlifting.sport" target="_blank">Svjetska powerlifting federacija</a></li>
								</ul>
							</section>
							<section class="col-6 col-12-narrower">
								<h3>Kontaktirajte nas</h3>
								<form action="https://formspree.io/f/xrgoynzr" method="POST">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Ime" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="_replyto" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Poruka" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Pošalji" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="https://www.facebook.com/zpls.powerlifting/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/zpls.powerlifting/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.youtube.com/channel/UCVZdNvSvhs2uFfSvTPwUMeQ" target="_blank" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; ZPLS. Sva prava pridržana</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
